<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'face:classify_image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Выберите изображение:</label>
        <input type="file" name="image" id="image" accept="image/*" required>
        <button type="submit">Классифицировать</button>
    </form>
    
</body>
</html>